.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width:100%;
	z-index: 10;
	&.is-active{
		background: #171C20;
		// animation:stuckMoveDown .6s;
	}
	.logo{
		margin-bottom: 0;
		transition: opacity .5s;
		img{
			max-height: 50px;
		}
	}

	@media (max-width: 991px){
		padding: 18px 0 19px;

		.logo {
		    flex-grow: 1;
		    img{
		    	max-height: 40px;
		    }
		}
	}

	@media (max-width: 575px){

	}
}
@keyframes stuckMoveDown{
    0%{transform:translateY(-100%)}
    100%{transform:translateY(0)}
}

/* Fix WP*/
.admin-bar{
	.header.-fix, .nav__mobile{
	    top: 32px;
	}
	@media (max-width: 782px) {
	    .header.-fix, .nav__mobile{
	        top: 46px;
	    }
	}
	@media (max-width: 767px) {
	    .header.-fix{
	        top: 0;
	    }
	    #wpadminbar{
	        display: none;
	    }
	}
}

.wpcf7-spinner {
    position: absolute;
    top: 19px;
    right: 0;
}
