@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap");
@import url(../fonts/icomoon/style.css);
@import url(../libs/bootstrap/css/bootstrap.css);
.-color-primary {
  color: #5FC4E6; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: 'Barlow', sans-serif;
  background-color: #010D04;
  color: #B5BAB7;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  --header-height:80px; }

a, a:hover {
  color: #4D4D4D;
  text-decoration: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

a {
  outline: none; }

strong {
  font-weight: 700; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }

.videoWrapper iframe, .videoWrapper object, .videoWrapper embed, .videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; }

/* Slider */
.slickfix .slick-list {
  margin: 0 -50px; }

.slickfix .slick-slide {
  margin: 0 50px; }

/**/
.dnfix__thumb {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  display: block;
  padding-top: 68.075%; }

.dnfix__thumb img {
  margin: 0px auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover; }

.dnfix__thumb.-contain img {
  object-fit: contain; }

.dnfix__thumb {
  transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .dnfix__thumb img {
    transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); }

/* Text truncate */
.text__truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.text__truncate.-n2 {
  -webkit-line-clamp: 2; }

.text__truncate.-n3 {
  -webkit-line-clamp: 3; }

.text__truncate.-n4 {
  -webkit-line-clamp: 4; }

/**/
br.tb {
  display: none; }
@media (max-width: 991px) {
  br.pc {
    display: none; } }
@media (min-width: 768px) and (max-width: 1199px) {
  br.tb {
    display: block; } }
@media (min-width: 992px) {
  br.tbl {
    display: none; } }
@media (min-width: 768px) {
  br.mbt {
    display: none; } }
@media (min-width: 576px) {
  br.mb {
    display: none; } }

/**/
.btn {
  position: relative;
  min-width: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 17.5px;
  color: #06A964;
  border-radius: 0;
  background-color: #fff;
  transition: all .5s; }
  .btn:before, .btn:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0;
    border-color: transparent #fff;
    height: 40px;
    width: 10px; }
  .btn:before {
    left: -11px;
    top: -1px;
    border-width: 10px 10px 0px 0px; }
  .btn:after {
    right: -11px;
    top: -1px;
    border-width: 0px 0px 10px 10px; }
  .btn:focus {
    box-shadow: none; }
  .btn [class^="icon-"] {
    position: relative;
    right: 0;
    font-size: 12px;
    margin-left: 5px;
    transition: all .5s; }
  .btn:hover {
    transform: translateY(-5px); }
    .btn:hover [class^="icon-"] {
      right: -3px; }
  .btn.-primary {
    color: #fff;
    background-color: #06A95B; }
    .btn.-primary:before, .btn.-primary:after {
      border-color: transparent #06A95B; }
  .btn.-secondary {
    background-color: #BEE274; }

.back-to-top {
  position: absolute;
  top: -90px;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 1;
  font-size: 24px;
  color: #05D9A3;
  line-height: 60px;
  border-radius: 50%;
  background: linear-gradient(164.77deg, #2E3734 -15.3%, #17181D 79.97%);
  opacity: 0.8;
  border: 1px solid #05D9A3;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all .5s; }
  .back-to-top:hover {
    box-shadow: 0px 0px 10px 2px #0ba47e;
    transform: translateY(-5px); }
  @media (max-width: 767px) {
    .back-to-top {
      top: -60px;
      right: 15px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 18px; } }

@media (min-width: 992px) {
  .g-lg-40, .gx-lg-40 {
    --bs-gutter-x: 2.5rem; }

  .col-lg-20 {
    flex: 0 0 auto;
    width: 20%; }

  .col-lg-40 {
    flex: 0 0 auto;
    width: 40%; } }
@media (min-width: 1400px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1248px; } }
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInLeft {
  -webkit-animation: fadeInLeft 1.5s ease-in-out;
  -moz-animation: fadeInLeft 1.5s ease-in-out;
  animation: fadeInLeft 1.5s ease-in-out; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInRight {
  -webkit-animation: fadeInRight 1.5s ease-in-out;
  -moz-animation: fadeInRight 1.5s ease-in-out;
  animation: fadeInRight 1.5s ease-in-out; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInUp {
  -webkit-animation: fadeInUp 1.5s ease-in-out;
  -moz-animation: fadeInUp 1.5s ease-in-out;
  animation: fadeInUp 1.5s ease-in-out; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 10; }
  .header:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, rgba(255, 185, 1, 0.1) 0%, #FFB901 48.44%, rgba(245, 234, 149, 0.27) 100%);
    opacity: 0.3;
    transform: matrix(1, 0, 0, -1, 0, 0); }
  .header.is-active {
    background: #171C20; }
  .header .logo {
    margin-bottom: 0;
    transition: opacity .5s; }
    .header .logo img {
      max-height: 50px; }
  .header .header__search {
    position: relative;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 400; }
    .header .header__search button {
      position: relative;
      border: 0;
      background: transparent;
      line-height: 34px;
      outline: none;
      color: #05D9A3; }
    .header .header__search .search-field {
      position: absolute;
      top: 0;
      right: 0;
      width: 0px;
      height: 100%;
      padding: 0 20px;
      outline: none;
      font-family: Montserrat;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #8E8E8E;
      border: 0;
      transition: width 0.8s ease;
      opacity: 0;
      box-shadow: none;
      border-right: 1px solid #636363;
      border-radius: 0; }
      .header .header__search .search-field:focus {
        outline: none; }
  .header.open-search {
    background: #171C20; }
    .header.open-search .main__nav {
      opacity: 0;
      z-index: -1; }
    .header.open-search .search-field {
      width: 350px;
      right: 50px;
      opacity: 1;
      background: transparent; }
  @media (max-width: 991px) {
    .header {
      padding: 18px 0 19px; }
      .header .header__search {
        margin-left: auto; }
      .header .logo {
        flex-grow: 1;
        text-align: center; }
        .header .logo img {
          max-height: 40px; }
      .header.open-search .logo {
        opacity: 0; } }
  @media (max-width: 575px) {
    .header.open-search .search-field {
      width: 220px; } }

@keyframes stuckMoveDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
/*
======================================
[ Main menu ]
======================================
*/
.main__nav {
  position: relative;
  z-index: 9;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  transition: opacity .5s; }
  .main__nav:after {
    content: "";
    display: table;
    clear: both; }
  .main__nav .sc__wrap {
    position: relative;
    z-index: 9999;
    width: 100%; }
  .main__nav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .main__nav a {
    color: #fff;
    transition: background 0.3s; }
  .main__nav .el__menu {
    padding: 0px 0;
    background: none; }
    .main__nav .el__menu:after {
      content: "";
      display: table;
      clear: both; }
    .main__nav .el__menu > li {
      position: relative;
      display: inline-block;
      padding: 0 10px; }
      .main__nav .el__menu > li.menu-item-has-children > a:after {
        content: "\e907";
        font-family: 'icomoon';
        font-size: 5px;
        margin-left: 5px;
        position: relative;
        top: -3px;
        font-weight: 400; }
      .main__nav .el__menu > li > a {
        position: relative;
        padding: 30px 10px;
        display: block; }
        .main__nav .el__menu > li > a:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          width: 0;
          height: 2px;
          transition: all .3s;
          margin: auto;
          background: #FFB901;
          border-radius: 5px; }
    .main__nav .el__menu > li:hover > a:before, .main__nav .el__menu > li.active > a:before, .main__nav .el__menu .current_page_parent > a:before, .main__nav .el__menu .current-menu-parent > a:before, .main__nav .el__menu .current-menu-item > a:before, .main__nav .el__menu .current_page_item > a:before {
      width: 100%; }
    .main__nav .el__menu .menu-item-has-children:hover a:before {
      display: none; }
    .main__nav .el__menu li:hover > .sub-menu {
      display: block;
      opacity: 1;
      visibility: visible; }
    .main__nav .el__menu .sub-menu {
      width: 205px;
      position: absolute;
      background: #171C20;
      opacity: 0;
      visibility: hidden;
      transition: all 300ms linear;
      left: 0px;
      top: 100%;
      z-index: 99;
      text-align: left;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      overflow: hidden; }
      .main__nav .el__menu .sub-menu li {
        position: relative;
        line-height: 20px;
        padding: 13px 15px; }
        .main__nav .el__menu .sub-menu li:not(:last-child) {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
        .main__nav .el__menu .sub-menu li:hover {
          background-color: #252A2B; }
          .main__nav .el__menu .sub-menu li:hover > a {
            color: #fff; }
        .main__nav .el__menu .sub-menu li a {
          color: #ffffff; }
      .main__nav .el__menu .sub-menu .sub-menu {
        top: 0;
        left: 100%; }

/*Menu custom*/
.modal-open {
  overflow: hidden; }

.nav__mobile {
  display: block;
  position: fixed;
  top: var(--header-height);
  height: 100%;
  left: -414px;
  width: 414px;
  opacity: 0;
  background: #17181D;
  transition: all .25s;
  z-index: 999;
  font-size: 16px;
  font-weight: 400;
  pointer-events: none;
  overflow: auto; }
  .nav__mobile--close {
    position: relative;
    top: 2px; }
  .nav__mobile__header {
    display: flex;
    align-items: center;
    margin-bottom: 50px; }
    .nav__mobile__header > img {
      max-height: 37px; }
  .nav__mobile__content {
    position: relative;
    overflow-y: auto;
    padding: 24px 0;
    height: calc(100% - var(--header-height)); }
  .nav__mobile.active {
    left: 0;
    opacity: 1;
    pointer-events: auto; }
  .nav__mobile .nav__mobile--ul {
    list-style: none;
    padding: 5px 0;
    margin: 0 0 20px; }
    .nav__mobile .nav__mobile--ul li {
      position: relative;
      margin-bottom: 10px; }
      .nav__mobile .nav__mobile--ul li a {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        padding: 15px 50px 15px 24px;
        display: block;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        transition: all .5s; }
        .nav__mobile .nav__mobile--ul li a:hover {
          color: #5FC4E6; }
      .nav__mobile .nav__mobile--ul li.active > a, .nav__mobile .nav__mobile--ul li.current-menu-item > a, .nav__mobile .nav__mobile--ul li.current_page_item > a, .nav__mobile .nav__mobile--ul li:hover > a {
        color: #fff;
        border-color: #FFB901; }
  .nav__mobile .footer__socical {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
  @media (max-width: 575px) {
    .nav__mobile {
      width: 100%; } }

/**/
/**/
.menu-mb__btn {
  display: block;
  width: 24px;
  height: 24px;
  padding: 4px 0; }

.menu-mb__btn .iconz-bar {
  width: 20px;
  transition: all 0.2s;
  background-color: white;
  display: block;
  height: 2px; }

.menu-mb__btn .iconz-bar + .iconz-bar {
  margin-top: 5px; }

.menu-mb__btn .iconz-bar:nth-of-type(2) {
  width: 12px; }

.menu-mb__btn.active .iconz-bar:nth-of-type(1) {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }

.menu-mb__btn .iconz-bar:nth-of-type(1) {
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0); }

.menu-mb__btn.active .iconz-bar:nth-of-type(2) {
  opacity: 0; }

.menu-mb__btn.active .iconz-bar:nth-of-type(3) {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-transform-origin: 0;
  -webkit-transform-origin: 0;
  transform-origin: 0; }

.menu-mb__btn.iconz-bar:nth-of-type(3) {
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0); }

.sc__header {
  max-width: 650px;
  margin: 0 auto 50px; }
  .sc__header__title {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 34px;
    line-height: 1.8;
    color: #FFFFFF;
    margin-bottom: 16px; }
  .sc__header__excerpt {
    color: #fff; }

.ef--border {
  --border-color: #FFB901;
  position: relative; }
  .ef--border::before, .ef--border::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
    transition: all .7s; }
  .ef--border::before {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    transform: scale3d(0, 1, 1);
    z-index: 1; }
  .ef--border::after {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    transform: scale3d(1, 0, 1); }
  .ef--border:hover::before, .ef--border:hover::after {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s; }

.new__item {
  position: relative;
  padding: 20px 20px 30px;
  margin-bottom: 30px;
  background: #1B1C22;
  border: 1px solid transparent;
  transition: all .5s; }
  .new__item a {
    position: relative;
    z-index: 1;
    display: block; }
  .new__item__thumb {
    margin-bottom: 20px; }
  .new__item__date {
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #05D9A3;
    margin-bottom: 10px; }
  .new__item__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #FFFFFF; }
  .new__item:hover {
    background: #212527; }

.paging-navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #05D9A3; }
  .paging-navigation .pagination .page-numbers {
    width: 30px;
    height: 30px;
    margin: 0 4px;
    line-height: 29px;
    border-radius: 50%;
    color: #05D9A3;
    border: 1px solid transparent;
    text-align: center;
    transition: all .5s;
    opacity: 0.4; }
    .paging-navigation .pagination .page-numbers.current, .paging-navigation .pagination .page-numbers:hover {
      border-color: #05D9A3;
      opacity: 1; }
    .paging-navigation .pagination .page-numbers.prev, .paging-navigation .pagination .page-numbers.next {
      line-height: 30px;
      opacity: 1; }

.dn__breadcrumb a, .dn__breadcrumb span {
  color: #9A9A9A; }
.dn__breadcrumb > span:last-child {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #9A9A9A; }

.home-banner {
  position: relative;
  margin-top: 83px;
  padding: 0 0;
  overflow: hidden; }
  .home-banner:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background: linear-gradient(180deg, rgba(1, 13, 4, 0) 0%, #010D04 100%); }
  .home-banner__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; }
  .home-banner .videoWrapper {
    padding-bottom: 52.7%; }
  .home-banner .el__meta {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 540px; }
  .home-banner .el__title {
    font-weight: 300;
    font-size: 60px;
    line-height: 110%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 20px; }
    .home-banner .el__title strong {
      display: block; }
  .home-banner .el__excerpt {
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 60px; }
  .home-banner .el__thumb {
    margin-top: -20%; }
.home-about {
  padding: 120px 0 60px; }
  .home-about .el__excerpt {
    font-size: 26px;
    line-height: 1.2;
    background: -webkit-linear-gradient(45deg, #41E418, #0698D7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 9px 12px rgba(0, 0, 0, 0.44);
    margin-bottom: 60px; }
  .home-about .el__line {
    width: 196px;
    height: 1px;
    margin: 0 auto 48px;
    background: linear-gradient(45deg, transparent, #40B016, transparent); }
  .home-about .el__boxs {
    max-width: 950px;
    margin: 0 auto;
    text-align: center; }
  .home-about .el__box {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px; }
    .home-about .el__box__thumb {
      margin-bottom: 16px; }
    .home-about .el__box__title {
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 30px; }
.home-service {
  position: relative;
  padding: 60px 0 120px; }
  .home-service .el {
    margin-bottom: 96px; }
    .home-service .el__item {
      position: relative;
      margin-bottom: 24px; }
      .home-service .el__item .dnfix__thumb {
        padding-top: 64%; }
      .home-service .el__item__meta {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
        padding: 10px 20px;
        min-height: 78px;
        background: rgba(6, 169, 100, 0.9); }
        .home-service .el__item__meta::before {
          content: '';
          position: absolute;
          top: 0px;
          right: -20px;
          border-style: solid;
          border-color: transparent rgba(6, 169, 100, 0.9);
          height: 0;
          width: 20px;
          border-width: 29px 0px 50px 20px; }
      .home-service .el__item__title {
        font-weight: bold;
        font-size: 22px;
        color: #fff; }
    .home-service .el__boxs {
      padding: 50px 50px;
      margin-bottom: 50px;
      background: url(../img/home-service.png) no-repeat;
      background-size: cover; }
    .home-service .el__box {
      color: #fff;
      text-align: center; }
      .home-service .el__box__thumb {
        width: 125px;
        padding-top: 125px;
        border: 2px solid #7FF9C5;
        border-radius: 50%;
        margin: 0 auto 15px; }
      .home-service .el__box__title {
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF;
        margin-bottom: 8px; }
      .home-service .el__box__sub {
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 15px; }
      .home-service .el__box__excerpt {
        font-size: 14px; }
      .home-service .el__box__title2 {
        font-weight: bold;
        font-size: 34px;
        margin-bottom: 40px; }
  .home-service__slider {
    --space: 24px; }
.home-work {
  padding: 120px 0;
  background: #031708; }
  .home-work .el__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 16px;
    margin-bottom: 24px;
    font-size: 14px;
    text-align: center;
    color: #000000;
    background: #F0FBF6;
    transition: all .5s; }
    .home-work .el__item:hover {
      box-shadow: 0px 0px 20px 1px #2b6def; }
    .home-work .el__item__thumb {
      height: 90px; }
      .home-work .el__item__thumb img {
        max-height: 90px; }
    .home-work .el__item__excerpt {
      margin-bottom: 20px; }
    .home-work .el__item ul {
      display: flex;
      justify-content: center;
      margin-top: auto; }
      .home-work .el__item ul li {
        flex: 0 0 auto;
        width: 22px;
        font-size: 10px; }
        .home-work .el__item ul li:not(:last-child) {
          margin-right: 10px; }
      .home-work .el__item ul a {
        display: block;
        height: 22px;
        background: #06A964;
        border-radius: 50%;
        color: #fff;
        transition: all .5s; }
        .home-work .el__item ul a .icon-megaphone {
          font-size: 12px; }
        .home-work .el__item ul a:hover {
          transform: translateY(-5px); }
.home-ready {
  color: #fff;
  padding: 60px 0;
  background: #06A964; }
  .home-ready .el__sub {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px; }
  .home-ready .el__title {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 50px; }
.home-partner {
  padding: 60px 0; }

.page__contact {
  padding: 110px 0 110px;
  background: url(../img/page-contact-bg.png) no-repeat;
  background-size: cover; }
  .page__contact .wpcf7-form {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #787878;
    padding: 80px 90px;
    margin-bottom: 30px;
    background: rgba(23, 24, 29, 0.8);
    border: 1px solid #05D9A3;
    transition: all .5s; }
    .page__contact .wpcf7-form:hover {
      box-shadow: 0px 0px 10px #05d9a3; }
    .page__contact .wpcf7-form__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      color: #05D9A3;
      margin-bottom: 50px;
      text-align: center; }
    .page__contact .wpcf7-form input, .page__contact .wpcf7-form textarea {
      color: #787878;
      margin-bottom: 40px;
      background: transparent;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid #434343;
      padding: 0.75rem 0.75rem; }
      .page__contact .wpcf7-form input:focus, .page__contact .wpcf7-form textarea:focus {
        outline: none;
        box-shadow: none; }
    .page__contact .wpcf7-form .wpcf7-submit {
      min-width: 140px;
      font-family: Montserrat;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      padding: 10px 10px;
      margin-bottom: 0;
      color: #000000;
      background: linear-gradient(90deg, #FFB901 -3.98%, #EB8D00 105.97%); }
  .page__contact .ul__contact {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF; }
    .page__contact .ul__contact li {
      position: relative;
      padding-left: 40px;
      margin-bottom: 50px; }
    .page__contact .ul__contact [class^="icon-"], .page__contact .ul__contact [class*=" icon-"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      text-align: center;
      color: #05D9A3;
      font-size: 22px; }
    .page__contact .ul__contact .icon-email {
      top: 3px;
      font-size: 17px; }
    .page__contact .ul__contact .el__label {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #05D9A3;
      margin-bottom: 15px; }
  @media (max-width: 991px) {
    .page__contact {
      padding: 80px 0; }
      .page__contact .wpcf7-form {
        padding: 80px 50px; } }
  @media (max-width: 575px) {
    .page__contact {
      padding: 50px 0;
      background: url(../img/page-contact-bg-mb.png) no-repeat; }
      .page__contact .wpcf7-form {
        padding: 50px 20px; }
        .page__contact .wpcf7-form input, .page__contact .wpcf7-form textarea {
          margin-bottom: 30px; } }

.single__wrap {
  position: relative; }
  .single__wrap::before {
    content: '';
    position: absolute;
    top: -10%;
    left: 0;
    width: 85%;
    height: 90%;
    background: url(../img/single-bg-top.png) no-repeat;
    background-size: contain;
    background-position: top left;
    pointer-events: none; }
  .single__wrap::after {
    content: '';
    position: absolute;
    top: 0%;
    right: 0;
    width: 45%;
    height: 90%;
    background: url(../img/single-bg-right.png) no-repeat;
    background-size: contain;
    background-position: top right;
    pointer-events: none; }

.single__header {
  position: relative;
  margin-top: var(--header-height);
  padding: 30px 0 60px; }

.single-content {
  max-width: 790px;
  margin: 0 auto 100px; }
  .single-content .el__header {
    margin-bottom: 60px; }
  .single-content h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px; }
  .single-content .single__date {
    font-size: 14px;
    line-height: 17px;
    color: #9A9A9A;
    text-align: center; }
  .single-content img {
    margin-bottom: 50px; }

/*
======================================
[ Editor Style ]
======================================
*/
.entry-content h2, .entry-content h3, .entry-content h4 {
  margin-bottom: 1rem; }

.entry-content h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px; }

.entry-content p {
  margin-bottom: 40px; }

.entry-content .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.entry-content img, .entry-content figure.wp-caption {
  max-width: 100%;
  height: auto; }

.entry-content address p, .entry-content address p {
  margin-bottom: 5px; }

.entry-content a {
  color: black;
  text-decoration: underline;
  font-weight: 500; }

.entry-content figcaption {
  width: 100%;
  text-align: center; }

.entry-content img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

.entry-content img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

.entry-content img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.entry-content ul {
  list-style-type: disc;
  padding-left: 15px;
  margin-bottom: 10px; }

.entry-content:after {
  content: '';
  clear: both;
  display: table; }

table {
  width: 100%;
  margin-bottom: 1rem; }

table td, table th {
  border: 1px solid #737476; }

table td, table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #737476; }

@media (max-width: 767px) {
  .single__header {
    padding-bottom: 40px; }

  .single-content h1 {
    font-size: 20px;
    line-height: 30px;
    text-align: left; }

  .single-content .single__date {
    text-align: left; }

  .single-content .el__header {
    margin-bottom: 30px; } }

/*# sourceMappingURL=main.css.map */
