@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap");
@import url(../fonts/icomoon/style.css);
@import url(../libs/bootstrap/css/bootstrap.css);
.-color-primary {
  color: #5FC4E6; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: 'Barlow', sans-serif;
  background-color: #010D04;
  color: #B5BAB7;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  --header-height:80px; }

a, a:hover {
  color: #4D4D4D;
  text-decoration: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

a {
  outline: none; }

strong {
  font-weight: 700; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }

.videoWrapper iframe, .videoWrapper object, .videoWrapper embed, .videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; }

/* Slider */
.slickfix .slick-list {
  margin: 0 -50px; }

.slickfix .slick-slide {
  margin: 0 50px; }

.slick-arrow {
  background: #06a964;
  color: #fff;
  font-size: 14px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center; }
  .slick-arrow.slick-disabled {
    opacity: .6; }

/**/
.dnfix__thumb {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  display: block;
  padding-top: 68.075%; }

.dnfix__thumb img {
  margin: 0px auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover; }

.dnfix__thumb.-contain img {
  object-fit: contain; }

.dnfix__thumb {
  transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .dnfix__thumb img {
    transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); }

/* Text truncate */
.text__truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.text__truncate.-n2 {
  -webkit-line-clamp: 2; }

.text__truncate.-n3 {
  -webkit-line-clamp: 3; }

.text__truncate.-n4 {
  -webkit-line-clamp: 4; }

/**/
br.tb {
  display: none; }
@media (max-width: 991px) {
  br.pc {
    display: none; } }
@media (min-width: 768px) and (max-width: 1199px) {
  br.tb {
    display: block; } }
@media (min-width: 992px) {
  br.tbl {
    display: none; } }
@media (min-width: 768px) {
  br.mbt {
    display: none; } }
@media (min-width: 576px) {
  br.mb {
    display: none; } }

/**/
.btn {
  position: relative;
  min-width: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 17.5px;
  color: #06A964;
  border-radius: 0;
  background-color: #fff;
  transition: all .5s; }
  .btn:before, .btn:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0;
    border-color: transparent #fff;
    height: 40px;
    width: 10px; }
  .btn:before {
    left: -11px;
    top: -1px;
    border-width: 10px 10px 0px 0px; }
  .btn:after {
    right: -11px;
    top: -1px;
    border-width: 0px 0px 10px 10px; }
  .btn:focus {
    box-shadow: none; }
  .btn [class^="icon-"] {
    position: relative;
    right: 0;
    font-size: 12px;
    margin-left: 5px;
    transition: all .5s; }
  .btn:hover {
    transform: translateY(-5px); }
    .btn:hover [class^="icon-"] {
      right: -3px; }
  .btn.-primary {
    color: #fff;
    background-color: #06A95B; }
    .btn.-primary:before, .btn.-primary:after {
      border-color: transparent #06A95B; }
  .btn.-secondary {
    background-color: #BEE274; }

.back-to-top {
  position: absolute;
  top: -90px;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 1;
  font-size: 24px;
  color: #05D9A3;
  line-height: 60px;
  border-radius: 50%;
  background: linear-gradient(164.77deg, #2E3734 -15.3%, #17181D 79.97%);
  opacity: 0.8;
  border: 1px solid #05D9A3;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all .5s; }
  .back-to-top:hover {
    box-shadow: 0px 0px 10px 2px #0ba47e;
    transform: translateY(-5px); }
  @media (max-width: 767px) {
    .back-to-top {
      top: -60px;
      right: 15px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 18px; } }

@media (min-width: 992px) {
  .g-lg-40, .gx-lg-40 {
    --bs-gutter-x: 2.5rem; }

  .col-lg-20 {
    flex: 0 0 auto;
    width: 20%; }

  .col-lg-40 {
    flex: 0 0 auto;
    width: 40%; } }
@media (min-width: 1400px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1248px; } }
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInLeft {
  -webkit-animation: fadeInLeft 1.5s ease-in-out;
  -moz-animation: fadeInLeft 1.5s ease-in-out;
  animation: fadeInLeft 1.5s ease-in-out; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInRight {
  -webkit-animation: fadeInRight 1.5s ease-in-out;
  -moz-animation: fadeInRight 1.5s ease-in-out;
  animation: fadeInRight 1.5s ease-in-out; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInUp {
  -webkit-animation: fadeInUp 1.5s ease-in-out;
  -moz-animation: fadeInUp 1.5s ease-in-out;
  animation: fadeInUp 1.5s ease-in-out; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 10; }
  .header.is-active {
    background: #171C20; }
  .header .logo {
    margin-bottom: 0;
    transition: opacity .5s; }
    .header .logo img {
      max-height: 50px; }
  @media (max-width: 991px) {
    .header {
      padding: 18px 0 19px; }
      .header .logo {
        flex-grow: 1; }
        .header .logo img {
          max-height: 40px; } }

@keyframes stuckMoveDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
.footer {
  position: relative;
  padding: 30px 0 20px; }
  .footer:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background: url(../img/footer-bg.png) no-repeat;
    background-size: contain;
    pointer-events: none; }
  .footer:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(45deg, transparent, #0A2711, transparent);
    pointer-events: none; }
  .footer a {
    color: #fff; }
    .footer a:hover {
      text-decoration: underline; }
  .footer__list {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 15px; }
    .footer__list li {
      display: inline-block;
      margin-bottom: 15px; }
      .footer__list li:not(:last-child) {
        margin-right: 30px; }
      .footer__list li a {
        color: #fff; }
        .footer__list li a:hover {
          text-decoration: underline; }
  .footer__text .-text {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase; }
  .footer__socical li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px; }
  .footer__socical a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #535353;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    transition: all .5s; }
    .footer__socical a:hover {
      background: #06a964;
      text-decoration: none; }
  .footer .copyright {
    font-weight: normal;
    font-size: 12px; }
  @media (max-width: 991px) {
    .footer .footer__logo {
      margin-bottom: 15px; }
    .footer .copyright {
      margin-bottom: 30px; } }

/*
======================================
[ Main menu ]
======================================
*/
.-ic-diamond::before {
  content: '';
  position: absolute;
  top: 36px;
  left: 0;
  background: url(../img/ic-diamond.png) no-repeat;
  background-size: contain;
  width: 13px;
  height: 10px; }

.main__nav {
  position: relative;
  z-index: 9;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  transition: opacity .5s; }
  .main__nav:after {
    content: "";
    display: table;
    clear: both; }
  .main__nav .sc__wrap {
    position: relative;
    z-index: 9999;
    width: 100%; }
  .main__nav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .main__nav a {
    color: #fff;
    transition: background 0.3s; }
  .main__nav .el__menu {
    padding: 0px 0;
    background: none; }
    .main__nav .el__menu:after {
      content: "";
      display: table;
      clear: both; }
    .main__nav .el__menu > li {
      position: relative;
      display: inline-block;
      padding: 0 10px; }
      .main__nav .el__menu > li.menu-item-has-children > a:after {
        content: "\e906";
        font-family: 'icomoon';
        font-size: 5px;
        margin-left: 5px;
        position: relative;
        top: -3px;
        font-weight: 400; }
      .main__nav .el__menu > li > a {
        position: relative;
        padding: 30px 10px;
        display: block; }
        .main__nav .el__menu > li > a:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          width: 0;
          height: 2px;
          transition: all .3s;
          margin: auto;
          background: #059b53;
          border-radius: 5px; }
    .main__nav .el__menu > li:hover > a:before, .main__nav .el__menu > li.active > a:before, .main__nav .el__menu .current_page_parent > a:before, .main__nav .el__menu .current-menu-parent > a:before, .main__nav .el__menu .current-menu-item > a:before, .main__nav .el__menu .current_page_item > a:before {
      width: 100%; }
    .main__nav .el__menu .menu-item-has-children:hover a:before {
      display: none; }
    .main__nav .el__menu li:hover > .sub-menu {
      display: block;
      opacity: 1;
      visibility: visible; }
    .main__nav .el__menu .sub-menu {
      width: 205px;
      position: absolute;
      background: #171C20;
      opacity: 0;
      visibility: hidden;
      transition: all 300ms linear;
      left: 0px;
      top: 100%;
      z-index: 99;
      text-align: left;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      overflow: hidden; }
      .main__nav .el__menu .sub-menu li {
        position: relative;
        line-height: 20px;
        padding: 13px 15px; }
        .main__nav .el__menu .sub-menu li:not(:last-child) {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
        .main__nav .el__menu .sub-menu li:hover {
          background-color: #252A2B; }
          .main__nav .el__menu .sub-menu li:hover > a {
            color: #fff; }
        .main__nav .el__menu .sub-menu li a {
          color: #ffffff; }
      .main__nav .el__menu .sub-menu .sub-menu {
        top: 0;
        left: 100%; }
  @media (max-width: 1199px) {
    .main__nav .el__menu > li > a {
      padding: 30px 5px; } }

/*Menu custom*/
.modal-open {
  overflow: hidden; }

.nav__mobile {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  right: -420px;
  width: 400px;
  opacity: 0;
  background: #06A964;
  transition: all .25s;
  z-index: 9999;
  font-weight: 600;
  font-size: 14px;
  pointer-events: none;
  overflow: auto; }
  .nav__mobile--close {
    position: relative;
    top: 2px;
    cursor: pointer;
    width: 25px;
    height: 35px;
    text-align: right; }
  .nav__mobile__header {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    color: #fff; }
    .nav__mobile__header img {
      max-height: 50px; }
  .nav__mobile__content {
    position: relative;
    overflow-y: auto;
    padding: 20px 0; }
  .nav__mobile.active {
    right: 0;
    opacity: 1;
    pointer-events: auto; }
  .nav__mobile .nav__mobile--ul {
    list-style: none; }
    .nav__mobile .nav__mobile--ul li {
      position: relative;
      margin-bottom: 10px; }
      .nav__mobile .nav__mobile--ul li a {
        position: relative;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        padding: 15px 50px;
        display: block;
        border-bottom: 1px solid transparent;
        transition: all .5s; }
        .nav__mobile .nav__mobile--ul li a:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background-color: #fff;
          transition: all .5s; }
        .nav__mobile .nav__mobile--ul li a:hover {
          color: #5FC4E6; }
      .nav__mobile .nav__mobile--ul li.active > a, .nav__mobile .nav__mobile--ul li.current-menu-item > a, .nav__mobile .nav__mobile--ul li.current_page_item > a, .nav__mobile .nav__mobile--ul li:hover > a {
        color: #fff; }
        .nav__mobile .nav__mobile--ul li.active > a:before, .nav__mobile .nav__mobile--ul li.current-menu-item > a:before, .nav__mobile .nav__mobile--ul li.current_page_item > a:before, .nav__mobile .nav__mobile--ul li:hover > a:before {
          width: 100%; }
  @media (max-width: 575px) {
    .nav__mobile {
      width: 100%; }
      .nav__mobile .nav__mobile--ul li a {
        font-size: 16px; } }

/**/
.menu-mb__btn {
  position: relative;
  top: 3px;
  display: block;
  cursor: pointer; }

/**/
/**/
.languages {
  position: relative;
  display: inline-block;
  font-weight: bold; }
  .languages img, .languages span {
    display: inline-block;
    vertical-align: middle; }
  .languages img {
    width: 34px;
    height: 24px; }
  .languages span {
    margin-left: 7px; }
  .languages .languages-item {
    position: relative;
    left: 0px;
    top: 0px;
    padding: 3px 25px 3px 3px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
    font-size: 12px; }
    .languages .languages-item:before {
      content: "\e906";
      font-family: 'icomoon';
      font-size: 6px;
      position: absolute;
      top: 50%;
      right: 6px;
      transform: translateY(-50%); }
    .languages .languages-item:hover {
      background-color: #ededed;
      color: #000; }
  .languages ul {
    position: absolute;
    top: 105%;
    right: 0;
    background-color: #ffffff;
    width: 65px;
    text-align: center;
    font-size: 14px;
    transform-origin: top;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    opacity: 0;
    display: block;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .languages ul.dropdown-languages {
    visibility: visible;
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
    opacity: 1; }
  .languages ul li {
    display: block;
    padding: 3px 3px;
    color: #1A1C25;
    cursor: pointer;
    transition: 0.3s; }
  .languages ul li + li {
    border-top: 1px solid #cccccc; }
  .languages ul li:hover, .languages ul li.active {
    background-color: #1bb372;
    color: #ffffff; }

.sc__header {
  max-width: 650px;
  margin: 0 auto 50px; }
  .sc__header__title {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 34px;
    line-height: 1.8;
    color: #FFFFFF;
    margin-bottom: 16px; }
  .sc__header__excerpt {
    color: #fff; }
  @media (max-width: 575px) {
    .sc__header {
      margin: 0 auto 30px; }
      .sc__header__excerpt {
        font-size: 14px; } }

.ef--border {
  --border-color: #FFB901;
  position: relative; }
  .ef--border::before, .ef--border::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
    transition: all .7s; }
  .ef--border::before {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    transform: scale3d(0, 1, 1);
    z-index: 1; }
  .ef--border::after {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    transform: scale3d(1, 0, 1); }
  .ef--border:hover::before, .ef--border:hover::after {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s; }

.ef--zoomin .dnfix__thumb img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }

.ef--zoomin:hover .dnfix__thumb img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.page__header {
  position: relative;
  padding: 165px 0 85px;
  background: url(../img/header-bg.png) no-repeat;
  background-size: cover;
  background-position: center; }
  .page__header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background: linear-gradient(180deg, rgba(1, 13, 4, 0) 0%, #010D04 100%);
    pointer-events: none; }
  .page__header .container {
    position: relative;
    z-index: 1; }
  .page__header h1 {
    font-weight: bold;
    font-size: 60px;
    color: #fff; }
  @media (max-width: 991px) {
    .page__header h1 {
      font-size: 46px; } }
  @media (max-width: 575px) {
    .page__header {
      padding: 165px 0 30px; }
      .page__header h1 {
        font-size: 34px; } }

.new__item {
  position: relative;
  margin-bottom: 30px;
  transition: all .5s; }
  .new__item.-large .dnfix__thumb {
    padding-top: 45%; }
  .new__item__wrap {
    position: relative;
    z-index: 1;
    display: block;
    color: #fff; }
  .new__item__thumb {
    margin-bottom: 20px; }
  .new__item .dnfix__thumb {
    border-radius: 5px;
    overflow: hidden; }
  .new__item__tax {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 2px 10px;
    background: #06A95B;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px; }
  .new__item__date {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;
    color: #fff;
    opacity: 0.8; }
    .new__item__date:before {
      content: "\e90a";
      font-family: 'icomoon';
      display: inline-block;
      margin-right: 5px; }
  .new__item__title {
    height: 56px;
    font-weight: bold;
    font-size: 17.5px;
    line-height: 1.6;
    color: #FFFFFF;
    margin-bottom: 6px;
    transition: all .5s; }
  .new__item__excerpt {
    margin-bottom: 8px; }
  .new__item__readmore {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #06A95B; }
  .new__item:hover .new__item__title {
    color: #06A95B; }
  .new__item:hover .new__item__readmore {
    text-decoration: underline; }
  @media (max-width: 1299px) {
    .new__item {
      margin-bottom: 20px; }
      .new__item__wrap {
        display: flex; }
      .new__item__thumb {
        flex: 0 0 auto;
        width: 100px;
        margin-right: 10px; }
      .new__item__meta {
        flex-grow: 1; }
      .new__item__title {
        font-size: 14px;
        height: auto;
        -webkit-line-clamp: 3 !important;
        margin-bottom: 0; }
      .new__item__excerpt {
        display: none; }
      .new__item__date {
        margin-bottom: 0; }
      .new__item__readmore {
        font-size: 12px; } }

.paging-navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 40px;
  color: #05D9A3; }
  .paging-navigation .pagination .page-numbers {
    width: 40px;
    height: 40px;
    margin: 0 4px;
    border: 1px solid transparent;
    transition: all .5s;
    background: #fff;
    text-align: center;
    color: #303841;
    border-radius: 4px; }
    .paging-navigation .pagination .page-numbers.current, .paging-navigation .pagination .page-numbers:hover {
      background-color: #06A95B;
      color: #fff;
      opacity: 1; }
    .paging-navigation .pagination .page-numbers.prev, .paging-navigation .pagination .page-numbers.next {
      opacity: 1;
      background: transparent; }

.dn__breadcrumb a, .dn__breadcrumb span {
  color: #9A9A9A; }
.dn__breadcrumb > span:last-child {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #9A9A9A; }

/*widget*/
.widget {
  margin-bottom: 30px; }

.widget_search form {
  position: relative; }
.widget_search input {
  background: #282E2A;
  border-color: #282E2A; }
.widget_search .search-field {
  height: 48px;
  padding-left: 48px;
  font-size: 14px; }
.widget_search .search-submit {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: 0;
  width: 48px;
  height: 48px;
  font-size: 22px; }
  .widget_search .search-submit span {
    position: relative;
    top: 2px;
    color: #06A95B; }

.home-banner {
  position: relative;
  padding-top: 80px;
  padding: 0 0;
  overflow: hidden; }
  .home-banner__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1; }
  .home-banner .videoWrapper {
    padding-bottom: 52.7%; }
    .home-banner .videoWrapper:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 180px;
      background: linear-gradient(180deg, rgba(1, 13, 4, 0) 0%, #010D04 100%);
      pointer-events: none; }
  .home-banner .el__meta {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 540px; }
  .home-banner .el__title {
    font-weight: 300;
    font-size: 60px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 20px; }
    .home-banner .el__title strong {
      display: block; }
  .home-banner .el__excerpt {
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 60px; }
  .home-banner .el__thumb {
    margin-top: -20%; }
.home-about {
  position: relative;
  padding: 120px 0 30px; }
  .home-about::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 15%;
    width: 29%;
    height: 64%;
    background: url(../img/home-about-center.png) no-repeat;
    background-size: contain;
    background-position: bottom right;
    pointer-events: none; }
  .home-about .el__excerpt {
    font-size: 26px;
    line-height: 1.2;
    background: -webkit-linear-gradient(45deg, #41E418, #0698D7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 9px 12px rgba(0, 0, 0, 0.44);
    margin-bottom: 60px; }
  .home-about .el__line {
    width: 196px;
    height: 1px;
    margin: 0 auto 48px;
    background: linear-gradient(45deg, transparent, #40B016, transparent); }
  .home-about .el__boxs {
    max-width: 950px;
    margin: 0 auto;
    text-align: center; }
  .home-about .el__box {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px; }
    .home-about .el__box__thumb {
      margin-bottom: 16px; }
    .home-about .el__box__title {
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 30px; }
.home-service {
  position: relative;
  padding: 90px 0 70px;
  overflow: hidden; }
  .home-service::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 34%;
    height: 55%;
    background: url(../img/home-service-right.png) no-repeat;
    background-size: contain;
    background-position: bottom right;
    pointer-events: none; }
  .home-service .el {
    margin-bottom: 96px; }
    .home-service .el__item {
      position: relative;
      margin-bottom: 24px; }
      .home-service .el__item .dnfix__thumb {
        padding-top: 64%; }
      .home-service .el__item__thumb img {
        -webkit-mask: url(../img/image-mask.png) center/contain no-repeat; }
      .home-service .el__item__meta {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
        padding: 10px 20px;
        min-height: 78px;
        background: rgba(6, 169, 100, 0.9); }
        .home-service .el__item__meta::before {
          content: '';
          position: absolute;
          top: 0px;
          right: -20px;
          border-style: solid;
          border-color: transparent rgba(6, 169, 100, 0.9);
          height: 0;
          width: 20px;
          border-width: 29px 0px 50px 20px; }
      .home-service .el__item__title {
        font-weight: bold;
        font-size: 22px;
        color: #fff; }
    .home-service .el__boxs {
      padding: 50px 50px;
      margin-bottom: 50px;
      background: url(../img/home-service.png) no-repeat;
      background-size: cover; }
      .home-service .el__boxs .el__col {
        order: 2; }
    .home-service .el__box {
      color: #fff;
      text-align: center; }
      .home-service .el__box__thumb {
        width: 125px;
        padding-top: 125px;
        border: 2px solid #7FF9C5;
        border-radius: 50%;
        margin: 0 auto 15px; }
      .home-service .el__box__title {
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF;
        margin-bottom: 8px; }
      .home-service .el__box__sub {
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 15px; }
      .home-service .el__box__excerpt {
        font-size: 14px; }
      .home-service .el__box__title2 {
        font-weight: bold;
        font-size: 34px;
        margin-bottom: 40px; }
      .home-service .el__box__thumb2 {
        margin-bottom: 20px; }
        .home-service .el__box__thumb2 img {
          max-height: 125px; }
  .home-service__slider {
    --space: 24px;
    padding-bottom: 50px; }
.home-work {
  padding: 120px 0;
  background: #031708; }
  .home-work .el__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 16px;
    margin-bottom: 24px;
    font-size: 14px;
    text-align: center;
    color: #000000;
    background: #F0FBF6;
    transition: all .5s; }
    .home-work .el__item:hover {
      box-shadow: 0px 0px 20px 1px #2b6def; }
    .home-work .el__item__thumb {
      height: 90px; }
      .home-work .el__item__thumb img {
        max-height: 90px; }
    .home-work .el__item__excerpt {
      margin-bottom: 20px; }
    .home-work .el__item ul {
      display: flex;
      justify-content: center;
      margin-top: auto; }
      .home-work .el__item ul li {
        flex: 0 0 auto;
        width: 22px;
        font-size: 10px; }
        .home-work .el__item ul li:not(:last-child) {
          margin-right: 10px; }
      .home-work .el__item ul a {
        display: block;
        height: 22px;
        background: #06A964;
        border-radius: 50%;
        color: #fff;
        transition: all .5s; }
        .home-work .el__item ul a .icon-megaphone {
          font-size: 12px; }
        .home-work .el__item ul a:hover {
          transform: translateY(-5px); }
  .home-work__slider .slick-arrow {
    --arrow: -50px; }
.home-ready {
  color: #fff;
  padding: 60px 0;
  background: #06A964; }
  .home-ready .el__sub {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px; }
  .home-ready .el__title {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 50px; }
.home-partner {
  padding: 60px 0;
  color: #fff; }
  .home-partner .el__header {
    margin-bottom: 50px; }
  .home-partner .el__title {
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 8px; }
  .home-partner .el__sub {
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1.09em;
    text-transform: uppercase; }
  .home-partner .el__item {
    display: inline-block;
    padding: 8px 16px;
    height: 32px;
    background: #fff;
    margin-bottom: 10px;
    margin-right: 5px; }
    .home-partner .el__item__thumb {
      display: flex; }
      .home-partner .el__item__thumb img {
        max-height: 16px; }
@media (max-width: 1399px) {
  .home-service .el__item__title {
    font-weight: 500;
    font-size: 20px; }
  .home-service .el__box__title2 {
    font-size: 30px; } }
@media (max-width: 991px) {
  .home-banner {
    margin-bottom: -17%; }
    .home-banner .videoWrapper {
      padding-bottom: 65%; }
      .home-banner .videoWrapper:after {
        bottom: 17%; }
    .home-banner .el__title {
      font-size: 40px; }
    .home-banner .el__excerpt {
      font-size: 16px;
      margin-bottom: 30px; }
    .home-banner .el__thumb {
      margin-top: 0; }
    .home-banner .el__meta {
      max-width: 50%; }
  .home-service {
    position: relative;
    padding: 30px 0 60px; }
    .home-service .el {
      margin-bottom: 60px; }
  .home-about {
    padding: 60px 0 30px; }
  .home-work {
    padding: 60px 0; }
  .home-ready .el__title {
    font-size: 50px; } }
@media (max-width: 767px) {
  .home-banner .videoWrapper {
    padding-bottom: 75%; }
    .home-banner .videoWrapper:after {
      bottom: 27%; }
  .home-banner .el__title {
    font-size: 34px; }
  .home-banner .el__excerpt {
    font-size: 16px;
    margin-bottom: 30px; }
  .home-banner .el__thumb {
    margin-top: -50px; }
  .home-banner .el__meta {
    max-width: 50%; }
  .home-work {
    padding: 60px 0; }
    .home-work__slider {
      padding: 0 40px; }
      .home-work__slider .slick-arrow {
        --arrow: 10px; }
    .home-work .el__item {
      margin-bottom: 0; } }
@media (max-width: 575px) {
  .home-banner {
    margin-bottom: 0;
    padding-bottom: 30px; }
    .home-banner .videoWrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .home-banner .videoWrapper:after {
        bottom: auto;
        top: 22%; }
    .home-banner__wrap {
      position: relative;
      padding-top: var(--header-height);
      padding: 0 1rem; }
    .home-banner .el__title {
      font-size: 34px; }
    .home-banner .el__thumb {
      max-width: 310px;
      margin: 0px auto 30px; }
    .home-banner .el__meta {
      position: relative;
      max-width: 100%; }
    .home-banner .btn {
      margin-left: 10px; }
  .home-about .el__line {
    margin: 0 auto 30px; }
  .home-about .el__excerpt {
    font-size: 22px;
    margin-bottom: 40px; }
  .home-about .el__box {
    font-size: 14px; }
  .home-service .el {
    margin-bottom: 30px; }
    .home-service .el__thumb2 img {
      max-height: 80px; }
    .home-service .el__boxs {
      padding: 50px 16px;
      margin-right: var(--bs-gutter-x, -0.75rem);
      margin-left: var(--bs-gutter-x, -0.75rem); }
    .home-service .el__box__thumb {
      width: 100px;
      padding-top: 100px; }
  .home-work {
    padding: 50px 0; }
  .home-ready .el__title {
    font-size: 44px; }
  .home .home-partner .el__header {
    margin-bottom: 24px; } }
@media (max-width: 375px) {
  .home-banner .videoWrapper:after {
    top: 9%; } }
@media (min-width: 768px) {
  .home .row-md {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5); }
    .home .row-md > * {
      flex-shrink: 0;
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
      margin-top: var(--bs-gutter-y); } }

.page__contact {
  position: relative;
  padding: 110px 0 110px; }
  .page__contact .wpcf7-form {
    max-width: 475px;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0 auto 30px;
    transition: all .5s; }
    .page__contact .wpcf7-form input, .page__contact .wpcf7-form textarea {
      margin-bottom: 24px; }
      .page__contact .wpcf7-form input:focus, .page__contact .wpcf7-form textarea:focus {
        outline: none;
        box-shadow: none; }
    .page__contact .wpcf7-form .wpcf7-submit {
      width: 100%;
      font-weight: bold;
      font-size: 17.5px;
      padding: 15px 10px;
      margin-bottom: 0;
      color: #fff;
      border-color: transparent;
      background: #06A95B;
      border-radius: 5px; }
  @media (max-width: 991px) {
    .page__contact {
      padding: 80px 0; } }
  @media (max-width: 575px) {
    .page__contact {
      padding: 50px 0; } }

.archive__content {
  padding-bottom: 90px; }
  .archive__content .nav__list {
    height: 42px;
    overflow: auto;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: nowrap; }
    .archive__content .nav__list::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5; }
    .archive__content .nav__list::-webkit-scrollbar {
      width: 4px;
      height: 6px;
      background-color: #06A95B; }
    .archive__content .nav__list::-webkit-scrollbar-thumb {
      background-color: #06A95B; }
    .archive__content .nav__list li {
      flex: 0 0 auto;
      margin-bottom: 16px; }
      .archive__content .nav__list li:not(:last-child) {
        margin-right: 24px; }
    .archive__content .nav__list a {
      display: block;
      font-weight: bold;
      font-size: 17.5px;
      color: #fff;
      transition: all .5s;
      white-space: normal; }
      .archive__content .nav__list a:hover {
        color: #06A95B; }
  .archive__content .list__item__title {
    position: relative;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    padding-bottom: 16px; }
    .archive__content .list__item__title:after {
      content: "";
      display: block;
      width: 30px;
      height: 2px;
      margin: 16px 0;
      background: #06A95B; }
  .archive__content .list__item li {
    position: relative;
    margin-bottom: 24px;
    padding-left: 25px; }
    .archive__content .list__item li:before {
      content: "\e90b";
      font-family: 'icomoon';
      font-size: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      color: #06A95B; }
  .archive__content .list__item a {
    font-weight: bold;
    font-size: 17.5px;
    color: #FFFFFF;
    transition: all .5s; }
    .archive__content .list__item a:hover {
      color: #06A95B; }
  @media (max-width: 991px) {
    .archive__content .archive__featured {
      padding-bottom: 50px; } }

.single__wrap {
  position: relative; }

.single__header {
  position: relative;
  margin-top: var(--header-height);
  padding: 110px 0 60px;
  margin-bottom: 48px; }
  .single__header h1 {
    max-width: 600px;
    font-weight: 600;
    font-size: 34px;
    line-height: 1.6;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 30px; }
  .single__header .single__tax {
    display: inline-block; }
    .single__header .single__tax a {
      display: inline-block;
      padding: 4px 15px;
      background: #06A95B;
      color: #fff;
      border-radius: 4px;
      font-weight: bold;
      font-size: 16px;
      margin-right: 16px; }
  .single__header .single__date {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    color: #9A9A9A;
    text-align: center; }
    .single__header .single__date:before {
      content: "\e90a";
      font-family: 'icomoon';
      display: inline-block;
      position: relative;
      top: 1px;
      margin-right: 5px; }
  .single__header .single__featured {
    margin-top: 48px; }
    .single__header .single__featured img {
      border-radius: 5px; }

.single-content {
  max-width: 600px;
  margin: 0 auto 100px; }
  .single-content img {
    margin-bottom: 50px; }

.single__tag {
  margin-bottom: 60px; }
  .single__tag a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    padding: 4px 10px;
    color: #FFFFFF;
    background: #151E17; }
    .single__tag a:not(:last-child) {
      margin-right: 8px; }

/*
======================================
[ Editor Style ]
======================================
*/
.entry-content h2, .entry-content h3, .entry-content h4 {
  margin-bottom: 1rem; }

.entry-content h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px; }

.entry-content p {
  margin-bottom: 20px; }

.entry-content .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.entry-content img, .entry-content figure.wp-caption {
  max-width: 100%;
  height: auto; }

.entry-content address p, .entry-content address p {
  margin-bottom: 5px; }

.entry-content a {
  color: #06A95B;
  font-weight: 500; }

.entry-content figcaption {
  width: 100%;
  text-align: center; }

.entry-content img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

.entry-content img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

.entry-content img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.entry-content ul {
  list-style-type: disc;
  padding-left: 15px;
  margin-bottom: 10px; }

.entry-content:after {
  content: '';
  clear: both;
  display: table; }

table {
  width: 100%;
  margin-bottom: 1rem; }

table td, table th {
  border: 1px solid #737476; }

table td, table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #737476; }

.entry-content blockquote {
  background: #151E17;
  padding: 48px 48px;
  box-shadow: inset 4px 0px 0px #06A964;
  border-radius: 3px;
  font-weight: bold;
  font-size: 18px;
  color: #B5BAB7;
  margin-bottom: 20px; }

/*# sourceMappingURL=main.css.map */
