.footer{
	position: relative;
	padding: 30px 0 20px;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background: linear-gradient(45deg, transparent, #0A2711, transparent)
	}
	a{
		color: #fff;
		&:hover{
			text-decoration: underline;
		}
	}
	&__list{
		font-weight: 600;
		font-size: 14px;
		margin-bottom: 15px;
		li{
			display: inline-block;
			margin-bottom: 15px;
			&:not(:last-child){
				margin-right: 30px;
			}
			a{
				color: #fff;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	&__text{
		text-align: left;
		.-text{
			font-weight: bold;
			font-size: 12px;
			line-height: 14px;
			text-transform: uppercase;
		}
	}
	&__socical{
		text-align: left;
		li{
			display: inline-block;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		a{
			display: block;
			width: 30px;
			height: 30px;
			line-height: 30px;
			background: #535353;
			border-radius: 50%;
			color: #fff;
			font-size: 14px;
			text-align: center;
			transition: all .5s;
			&:hover{
				background: #06a964;
			}
		}
	}
	.copyright{
		font-weight: normal;
		font-size: 12px;
	}
}