.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width:100%;
	z-index: 10;
	&.is-active{
		background: #171C20;
		// animation:stuckMoveDown .6s;
	}
	.logo{
		margin-bottom: 0;
		transition: opacity .5s;
		img{
			max-height: 50px;
		}
	}

	@media (max-width: 991px){
		padding: 18px 0 19px;

		.logo {
		    flex-grow: 1;
		    img{
		    	max-height: 40px;
		    }
		}
	}

	@media (max-width: 575px){

	}
}
@keyframes stuckMoveDown{
    0%{transform:translateY(-100%)}
    100%{transform:translateY(0)}
}