.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width:100%;
	z-index: 10;
	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background: linear-gradient(270deg, rgba(255, 185, 1, 0.1) 0%, #FFB901 48.44%, rgba(245, 234, 149, 0.27) 100%);
		opacity: 0.3;
		transform: matrix(1, 0, 0, -1, 0, 0);
	}
	&.is-active{
		background: #171C20;
		// animation:stuckMoveDown .6s;
	}
	.logo{
		margin-bottom: 0;
		transition: opacity .5s;
		img{
			max-height: 50px;
		}
	}

	@media (max-width: 991px){
		padding: 18px 0 19px;

		.logo {
		    flex-grow: 1;
		    text-align: center;
		    img{
		    	max-height: 40px;
		    }
		}
	}

	@media (max-width: 575px){

	}
}
@keyframes stuckMoveDown{
    0%{transform:translateY(-100%)}
    100%{transform:translateY(0)}
}